
.card {
    width: 80%;
    min-width: 400px;
    max-width: 600px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    font-size: 1.6rem;
}

header {
    display:flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
}

#start_icon {
    background-image: url(../../public/assets/images/icon-star.svg);
    width: 40px;
    height: 40px;
}

h1 {
    margin-left: 15px;
}

.question {
    display: flex;
    margin-bottom: 10px;
}

.question-open {
    color: hsl(293, 60%, 68%);
}

.question-close {
    color: hsl(0, 0%, 5%);
}

.question h3 {
    width: 90%;
}

.btnplus {
    width: 28px;
    height: 28px;
    border: none;
    background-image: url(../../public/assets/images/icon-plus.svg);
}

.btnminus {
    width: 28px;
    height: 28px;
    border: none;
    background-image: url(../../public/assets/images/icon-minus.svg);
}

li {
    padding: 10px 0px 10px 0px;
    list-style: none;
}

hr.solid {
    border-top: 1px solid #bbb;
    margin-top: 10px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
